/* Prog Industries: website
 * version: 0.1
 * desc: css stylings for general use throughout website
 */

:root {
	--progPurple: #2E294E;
	--progDarkPurple: #011638;
	--progViolet: #9055A2;
	--progLightViolet: #D499B9;
	--progRed: #bd1550;
	--progOrange: #e97f02;
	--progYellow: #f8ca00;
	--progGrey: #333333;
	--progLightGrey: #aaaaaa;
	--progWhite: #dddddd;
	--progPureWhite: #ffffff;
	--progBlack: #111111;
	--progPureBlack: #000000;
}

@import url("/css/normalize.css");

@font-face {
	font-family: "Rajdhani";
	src: url("/fonts/Rajdhani/Rajdhani-Regular.ttf");
}

@font-face {
	font-family: "Rajdhani-Bold";
	src: url("/fonts/Rajdhani/Rajdhani-Bold.ttf");
}

@font-face {
	font-family: "Rajdhani-Light";
	src: url("/fonts/Rajdhani/Rajdhani-Light.ttf");
}

@font-face {
	font-family: "Source";
	src: url("/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
	font-family: "Source-Bold";
	src: url("/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}

@font-face {
	font-family: "Source-LightItalic";
	src: url("/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf");
}

@media (min-width: 800px) {	
	body {
	}

	#wrapper {
		width: calc(100vw - 10px);
		overflow-x: hidden;
	}

	::-webkit-scrollbar {
	    width: 10px;
	}
	 
	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
	}
	 
	::-webkit-scrollbar-thumb {
	    -webkit-border-radius: 0px;
	    border-radius: 0px;
	    background: var(--progPurple);
	    opacity: 0.9;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
	::-webkit-scrollbar-thumb:window-inactive {
		opacity: 0.5;
		background: var(--progPurple);
	}

	#header {
		width: 100%;
		height: 100px;
		background-color: rgba(255, 255, 255, 0.25);
		position: fixed;
		transition: all 0.5s;
		z-index: 100;
		box-shadow: 0 5px 50px #000000;
	}

	#headerLogo {
		width: calc(50% - 50px);
		height: 100%;
		font-family: "Rajdhani";
		color: white;
		font-size: 48px;
		margin-top: 25px;
		padding-left: 2vw;
		float: left;
		transition: all 0.5s;
	}

	#headerLogo a {
		text-decoration: none;
		color: white;
	}

	#headerNav {
		width: 40%;
		height: 100%;
		float: left;
	}

	.dropbtn {
	    background-color: rgba(0, 0, 0, 0);
	    font-family: "Source";
	    color: white;
	    width: calc(100vw / 8);
	    height: 100px;
	    padding: 16px;
	    font-size: 24px;
	    border: none;
	    cursor: pointer;
	    transition: all 0.5s;
	}

	.dropdown {
	    position: relative;
	    display: inline-block;
	    transition: all 0.5s;
	}

	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: rgba(255, 255, 255, 0.5);
	    font-family: "Source";
	    font-size: 20px;
	    width: calc(100vw / 8);
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1;
	    transition: all 0.5s;
	}

	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    transition: all 0.5s;
	    display: block;
	}

	.dropdown-content a:hover {
		background-color: #f1f1f1;
		opacity: 0.8;
	}

	.dropdown:hover .dropdown-content {
	    display: block;
	}

	.dropdown:hover .dropbtn {
	    background-color: rgba(0, 0, 0, 0.25);
	}

	#headerButton {
		width: 10%;
		height: 100%;
		float: left;
	}

	#headerButton i {
		font-size: 50px;
		color: white;
		margin-top: 25px;
		margin-left: calc(100% / 4);
		opacity: 0.8;
		transition: all 0.5s;
		cursor: pointer;
	}

	#headerButton i:hover {
		color: var(--progPurple);
	}

	#mainer {
		width: 100%;
		min-height: 800px;
	}

	#splash {
		width: 100%;
		height: 100vh;
		position: static;
		background: url("/images/distant_nebula.jpg");
		box-shadow: 0 5px 50px #000000;
	}

	#splashBox {
		z-index: 5;
		width: 50%;
		height: 50%;
		top: calc(100px + 12.5%);
		left: 25%;
		background-color: rgba(0, 0, 0, 0.8);
		background: url("/images/pattern1.png");
		border-radius: 20px;
		display: block;
		position: absolute;
		box-shadow: 0 5px 50px #000000;
	}

	#splashBoxContent {
		width: 80%;
		height: 50%;
		top: 10%;
		left: 10%;
		display: block;
		position: absolute;
	}

	#splashBoxHeader {
		width: 100%;
		height: 50%;
	}

	#splashBoxHeader h1 {
		font-family: "Rajdhani";
		color: white;
		font-size: 50px;
		margin-top: 0px;
		padding-top:  25px;
		font-weight: normal;
		text-align: center;
	}

	#splashBoxText {
		width: 100%;
		height: 50%;
	}

	#splashBoxText p {
		font-family: "Source";
		color: white;
		font-size: 24px;
		line-height: 40px;
		margin-top: 0px;
		padding-top: 30px;
		text-align: center;
	}

	#splashBoxButton {
		width: 80%;
		height: 20%;
		top: 70%;
		left: 10%;
		display: block;
		position: absolute;
		text-align: center;
	}

	#splashBoxButton button {
		width: 50%;
		height: 75%;
		margin-top: 10px;
		font-family: "Rajdhani";
		color: white;
		font-weight: bold;
		font-size: 24px;
		background-color: var(--progPurple);
		opacity: 0.5;
		transition: all 0.5s;
		border-radius: 0px;
		border: none;
	}

	#splashBoxButton button:hover {
		background-color: var(--progPurple);
		opacity: 0.9;
		font-size: 28px;
		border-radius: 10px;
	}

	#rocketImage {
		height: 100px;
		width: 100px;
		transform: translate(100vw, 100vh);
	}

	#content {
		width: 100%;
		min-height: 700px;
	}

	.contentBlock {
		width: calc(100% - 20vw);
		min-height: 500px;
		display: block;
		position: relative;
		display: inline-block;
		padding-top: 50px;
		padding-bottom: 25px; 
		padding-left: 10vw;
		padding-right: 10vw;
		font-size: 0px;
	}

	.contentBlock h1 {
		text-align: center;
		margin-top: 0px;
		font-size: 48px;
		font-family: "Rajdhani";
		font-weight: normal;
	}

	.contentTitle {
		width: 100%;
		height: 100px;
		text-align: center;
		font-family: "Rajdhani";
		font-size: 72px;
		color: #333333;
	}

	.contentBubbleBlock {
		width: 100%;
		height: 500px;
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.contentBubble {
		width: calc(100% / 3 - 5%);
		height: 45%;
		padding: 2.5%;
		float: left;
	}

	.contentBubbleInside {
		width: 100%;
		height: 100%;
		text-align: center;
	}

	.contentBubbleInside i {
		margin-top: 20px;
		font-size: 72px;
		text-shadow: 2px 2px 10px #333333;
		color: #333333;
	}

	.contentBubbleInside p {
		text-align: center;
		font-family: "Source";
		color: #333333;
		font-size: 24px;
	}

	.callToAction {
		box-shadow: 0 5px 50px #000000;
		width: 100%;
		height: 600px;
		padding: 0;
	}

	#callToActionLarge {
		width: 65%;
		height: 100%;
		position: absolute;
		background: url('/images/galaxy_thin.jpg');
	}

	#callToActionSmall {
		width: calc(35% - 50px);
		height: calc(100% - 50px);
		margin-left: 65%;
		position: absolute;
		background-color: #eeeeee;
		padding: 25px;
	}

	#callToActionSmall h1 {
		width: 100%;
		text-align: center;
		font-family: "Rajdhani";
		color: #333333;
		font-weight: normal;
		font-size: 48px;
	}

	#callToActionSmall p {
		width: 100%;
		margin-top: 25px;
		text-align: center;
		font-family: "Source";
		color: #333333;
		font-size: 2vw;
		line-height: 48px;
	}

	#statement {
		width: calc(80% - 50px);
		height: calc(70% - 50px);
		margin-left: 10%;
		font-family: "Source-LightItalic";
		font-size: 3.5vw;
		line-height: 72px;
		color: #888888;
		position: relative;
		padding: 25px;		
	}

	#statementName {
		width: calc(80% - 25px);
		height: calc(20% - 25px);
		margin-left: 10%;
		padding-right: 25px;
		padding-top: 20px;
		margin-bottom: 25px;
		font-family: "Rajdhani-Light";
		text-align: right;
		color: #333333;
		font-size: 48px;
		position: relative;
	}

	.contentParallaxBackground {
	    height: 100%; 
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

	.contentParallaxBackground h1 {
		text-align: center;
		font-family: "Rajdhani";
		font-size: 72px;
		font-weight: normal;
		color: #dddddd;
	}

	.contentParallaxBackground h2 {
		text-align: center;
		font-family: "Rajdhani-Light";
		font-size: 48px;
		color: #dddddd;
	}

	.contactBlock {

	}

	.contactBlock h1 {
		text-align: center;
		font-family: "Rajdhani";
		font-size: 72px;
		font-weight: normal;
		color: #333333;
	}

	.contactBlock p {
		text-align: left;
		font-family: "Rajdhani-Light";
		font-size: 28px;
		color: #333333;
	}

	#message {
		width: 100%;
		min-height: 200px;
		font-family: "Source";
		font-size: 18px;
		font-weight: normal;
	    padding: 12px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	    margin-top: 6px;
	    margin-bottom: 16px;
	    resize: vertical;
	}

	#submit {
		width: 20%;
		height: 50px;
		margin-top: 10px;
		font-family: "Rajdhani";
		color: white;
		font-weight: bold;
		font-size: 24px;
		background-color: rgba(50, 50, 140, 0.8);
		transition: all 0.5s;
		border-radius: 0px;
		border: none;
	}

	#submit:hover {
		background-color: rgba(50, 50, 140, 1);
		font-size: 28px;
		border-radius: 10px;
	}

	#footer {
		width: 100%;
		height: 400px;
		position: relative;
	}

	.footerColumn {
		width: calc(100% / 3 - 50px);
		height: calc(100% - 50px);
		background-color: black;
		float: left;
		padding: 25px;
	}

	.footerColumn h2 {
		color: white;
		font-family: "Rajdhani";
		font-weight: normal;
	}

	.footerColumn p {
		color: white;
		font-family: "Source";
	}

	#topBlock {
		width: 100%;
		height: 500px;
		padding-top: 10%;
		box-sizing: border-box;
		box-shadow: 0 5px 50px #000000;
	}

	#topBlock h1 {
		text-align: center;
		font-family: "Rajdhani";
		font-weight: normal;
		font-size: 72px;
		color: var(--progWhite);
	}

	#topBlock h2 {
		text-align: center;
		font-family: "Rajdhani-Light";
		font-weight: normal;
		font-size: 48px;
		color: var(--progWhite);
	}

	.teamList {
		min-height: 500px;
	}

	.teamBlock {
		width: calc(100% / 3);
		height: calc(30vw);
		float: left;
		padding: 1.25%;
		box-sizing: border-box;
		font-size: 0px;
	}

	.teamInner {
		width: 95%;
		height: 95%;
		margin: 0 auto;
		margin-top: 0;
		font-size: 0px;
		border: 1px solid var(--progGrey);
		box-sizing: border-box;
	}

	.teamInner:hover .teamImage img {
		height: 110%;
	}

	.teamImage {
		width: 100%;
		height: 75%;
		display: inline-block;
		overflow: hidden;
	}

	.teamImage img {
		height: 100%;
		align: middle;
		margin-left: 50%;
		transform: translateX(-50%);
		transition: all 0.5s;
	}

	.teamContent {
		width: 100%;
		height: 25%;
		max-height: 25%;
		display: inline-block;
		box-shadow: inset 0 5px 50px -20px #000000;
	}

	.teamContent h2 {
		margin: 0px;
		margin-top: 10px;
		text-align: center;
		font-family: "Rajdhani";
		font-size: 2.25vw;
		font-weight: normal;
	}

	.teamContent p {
		margin: 0px;
		margin-top: 5px;
		text-align: center;
		font-family: "Source-LightItalic";
		font-size: 1.5vw;
		font-weight: normal;
	}

}